<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Elektron LFO Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Elektron LFO Calculator</h1>
      <form action="">
        <div>
          <label>BPM:</label>
          <input type="number" placeholder="120" :value="bpm" @input="onBpmInput" />
        </div>
        <div>
          <label>LFO Speed:</label>
          <input type="number" placeholder="1.0" :value="lfoSpeed" @input="onLfoSpeedInput" />
        </div>
        <div>
          <label>LFO Multiplier:</label>
          <select :value="multiplier" @input="onMultiplierChange">
            <option v-for="(m, index) in multipliers" :value="index">{{ m.label }}</option>
          </select>
        </div>
      </form>

      <div id="results">
        <div><strong>Beat Duration:</strong> {{beatDuration}}s</div>
        <div><strong>Bar Duration: </strong> {{barDuration}}s</div>
        <div><strong>LFO Cycle Rate:</strong> {{ rateOut }}</div>
        <div><strong>Time:</strong> {{ timeOut }}s</div>
        <div><strong>Hz:</strong> {{ hertzOut }}</div>
      </div>
      <hr />
      <div>
        <table>
          <thead>
            <th>Multiplier</th>
            <th>Rate</th>
            <th>Seconds</th>
            <th>Hertz</th>
          </thead>

          <tr v-for="(m, index) in multipliers" :key="index">
            <td><strong>{{m.label}}</strong></td>
            <td>{{calculateNotationFor(index)}}</td>
            <td>{{sensibleFixedNum(calculateTimeFor(index))}}</td>
            <td>{{calculateHertzFor(index)}}</td>
          </tr>
        </table>
      </div>
      <hr />
      <footer>A <a href="https://nixienoise.com/">Nixienoise</a> thing.</footer>
    </div>
    <script src="calc.js"></script>
  </body>
</html>
