<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Elektron LFO Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Elektron LFO Calculator</h1>
      <form action="">
        <div>
          <label>BPM:</label>
          <input type="number" placeholder="120" :value="bpm" @input="onBpmInput" />
        </div>
        <div>
          <label>SPD:</label>
          <input type="number" placeholder="1.0" :value="lfoSpeed" @input="onLfoSpeedInput" />
        </div>
        <div>
          <label>MULT:</label>
          <select :value="multiplier" @input="onMultiplierChange">
            <option v-for="(m, index) in multipliers" :value="index">{{ m.label }}</option>
          </select>
        </div>

        <div id="results">
          <p><strong>Beat Duration:</strong> {{beatDuration}}s</p>
          <p><strong>Bar Duration: </strong> {{barDuration}}s</p>
          <p><strong>LFO Cycle Rate:</strong> {{ rateOut }}</p>
          <div>
            <label>Time:</label>
            <input type="number" placeholder="1.0" :value="time" @input="onTimeInput" step="any" />
          </div>
          <div>
            <label>Hz:</label>
            <input type="number" placeholder="1.0" :value="hertz" @input="onHertzInput" step="any" />
          </div>
          <p><strong>Time:</strong> {{ time }}s</p>
          <p><strong>Hz:</strong> {{ hertz }}</p>
        </div>
      </form>
      <hr />
      <div>
        <table>
          <thead>
            <th>Multiplier</th>
            <th>Rate</th>
            <th>Seconds</th>
            <th>Hertz</th>
          </thead>

          <tr v-for="(m, index) in multipliers" :key="index">
            <td><strong>{{m.label}}</strong></td>
            <td>{{calculateNotationFor(index)}}</td>
            <td>{{sensibleFixedNum(calculateTimeFor(index))}}</td>
            <td>{{calculateHertzFor(index)}}</td>
          </tr>
        </table>
      </div>
      <hr />
      <footer>
        <p>A <a href="https://nixienoise.com/">Nixienoise</a> thing by Alex Roberts, 2024.</p>
        <p><a href="https://github.com/nixienoise/elektron-lfo">Source</a></p>
      </footer>
    </div>
    <script src="calc.js"></script>
  </body>
</html>
